<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ljcs.cxwl">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!--允许应用程序改变WIFI连接状态-->

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--允许应用程序访问有关的网络信息-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--允许应用程序访问WIFI网卡的网络信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-feature android:name="android.hardware.camera2.full"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name="com.ljcs.cxwl.application.AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base"
        tools:replace="android:icon,android:theme">

        <!--闪屏页-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.SplashActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--登录页-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.LoginActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--加载网页-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.web.WebSatisficingActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--首页-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.MainActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--个人中心-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.PersonCenterActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--反馈意见-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.SuggestActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--资格审查修改申诉-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.ComplainActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!--关于我们-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.AboutOurActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--注册页-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.RegisterActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--忘记密码-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.ForgetPwdActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--修改密码-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.main.ChangePwdActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--修改手机号码-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.changephone.ChangePhoneOneActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--修改手机号码-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.changephone.ChangePhoneTwoActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--修改手机号码-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.changephone.ChangePhoneThirdActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--关于实名认证-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.AboutCertificationActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--实名认证-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.CertificationOneActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--实名认证-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.CertificationTwoActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--实名认证-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.CertificationThirdActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--实名认证-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.CertificationFourActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <!--实名认证-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.CertificationFiveActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--实名认证总-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.CertificationActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--实名认证状态详情-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.certification.CertificationStatusInfoActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加配偶信息-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.matesinfo.MatesInfoOneActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ljcs.cxwl.ui.activity.matesinfo.MatesInfoTwoActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ljcs.cxwl.ui.activity.matesinfo.MatesInfoThirdActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ljcs.cxwl.ui.activity.matesinfo.MatesInfoFourActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ljcs.cxwl.ui.activity.matesinfo.MatesInfoFiveActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--购房资格审查说明-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.QualificationExaminationActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加申购人户口本信息-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyRegisterActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加配偶信息-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyRegisterTwoActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加配偶信息-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyRegisterTwo1Activity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加前配偶信息-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyRegisterTwo2Activity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加家庭成员-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyRegisterThirdActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加家庭子女成员-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyAddActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--添加家庭成员-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyAddNowActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--申购提交申请状态-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyRegisterStatusActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--家庭成员提交申请状态-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyMatesStatusActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--核对并提交信息-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.other.FamilyRegisterFourActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!--显示图片-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.ShowImgActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/translucent"
            />
        <!--协议-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.AgreementActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait"
            />
        <!--扫码-->
        <activity
            android:name="com.ljcs.cxwl.ui.activity.scan.ScanActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait"
            />
        <!-- 阿里推送服务 -->

        <!--消息接收监听器-->
        <receiver
            android:name="com.ljcs.cxwl.receiver.AlMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE"/>
            </intent-filter>
        </receiver>
        <!-- 阿里推送服务 -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24971184"/> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="29b6a63bfc876fcb77b84dabf304fa76"/> <!-- 请填写你自己的appSecret -->
    </application>

</manifest>